*
!.github
!.github/**
!.tests/
!.tests/config/
!.tests/config/**
!.tests/resources/
!.tests/resources/**
!.tests/test_data/
!.tests/test_data/**
!config/
!config/**
!resources/
!resources/**
!workflow/
!workflow/*
!workflow/envs/**
!workflow/report/**
!workflow/rules/**
!workflow/scripts/*.py
!workflow/schemas/**
!.gitattributes
!.gitignore
!.pre-commit-config.yaml
!LICENSE
!README.md
